*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.header{
    text-align: center;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header h1{
    font-family: 'Bungee', cursive;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    letter-spacing: 2px;
    
}

.nav{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    
}
.nav a{
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}


.container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px, 1fr));/*autofill mejor aqui, para que no rellene el hueco estirando la card*/
    max-width: 90%;
    margin: 30px auto;
    margin-bottom: 50px;
    gap: 50px;
    
}

.card{
    border-radius: 12px;
    background-color: rgba(255,255,255,0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    list-style-position: outside;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    /* Elevamos la tarjeta y suavizamos aún más la sombra */
    transform: translateY(-10px); 
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.info{
    padding: 15px;
    display: block;/*para que el h3 no flote "raro"*/
}

.card h3{
    display: inline-block;
    margin-bottom: 10px;
    
}


img{
    width: 100%;
    height: 250px;
    display: block;
}

h2{
    text-align: center;
    font-family: 'Bungee', cursive;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
}

.footer{
    margin: 50px;
    text-align: center;
    
}
html {
    scroll-behavior: smooth;
}








